<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class='container'>

   Watched by : {{count}}
    <div>
          <p>{{ item.name }}</p>
          <p>{{ item.salePrice }}</p>
          <p>{{ item.brandName }}</p>
          <p>{{ item.thumbnailImage }}</p>
          <p>{{ item.mediumImage }}</p>
          <p>{{ item.largeImage }}</p>  
          <p>{{ item.size }}</p>        
          <p>{{ item.color }}</p>       
          <p>{{ item.sellerInfo }}</p>        
          <p>{{ item.stock }}</p>          
          <p>{{ item.freeShippingOver50Dollars }}</p>  
          <button (click)='addToCart()'>Add to Cart</button>  
          <button (click)='addToWatchlist(item.itemId)'>Add to Watchlist</button>      
    </div>
  </div>
</body>
</html>