<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class='row background'>
     
    <div class="col s5 " *ngFor='let cart of order'>
            <div class="card horizontal background">
          <div class="card-image card-medium">
            <img [src]=cart.url>
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <p  style='font-weight : bold'>{{ cart.name }}</p>
                <p>Size : {{ cart.size }}</p>
                <p>Color : {{ cart.color }}</p>
                <p style='font-weight : bold'>Price : ${{ cart.salePrice }}</p>
            </div>
            <div class="card-action">
                Quantity : <input type="number" min="1" max="50" [value]=cart.quantity [(ngModel)]='cart.quantity'>
                Total : <Span  style='font-weight : bold'>{{ cart.salePrice*cart.quantity }}</Span>
            </div>
         
   
      </div>
      </div>
    </div>
  </div>

      <button>Place Your Order</button>
 
</body>
</html>


<!-- <div *ngFor='let cart of order'>
    <p>------------------------</p>
    <p>{{ cart.name }}</p>
    <p>{{ cart.size }}</p>
    <p>{{ cart.color }}</p>
    <p>{{ cart.salePrice }}</p>
    Quantity : <input type="number" min="1" max="50" [value]=cart.quantity [(ngModel)]='cart.quantity'>
    Total : <Span>{{ cart.salePrice*cart.quantity }}</Span>

  </div>
  <button>Confirm Your Order</button> -->