<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class='row background'>
    <ul id="tabs-swipe-demo" class="tabs background">
        <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['dashboard']">Home</a></li>
        <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['watchlist']">Watchlist</a></li>
        <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['cart']">Cart</a></li>
      </ul>
    
    <div class="details background">
      <router-outlet></router-outlet>
    </div>

  </div>
</body>
</html>