.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
}
p{
  display:   inline-block;
}

.lock {
  width:40%;
  margin: 1.5em auto 4em auto;
  display:block;
}

.background {
  background-image: url("./../../assets/images/background.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}