<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop-Details</title>
</head>
<body>

    <div class='row background'>
        <ul id="tabs-swipe-demo" class="tabs background">
            <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['/home','dashboard']">Home</a></li>
            <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['/home','watchlist']">Watchlist</a></li>
            <li class="tab col s3"><a style='color: #6b156d;' [routerLink]="['/home','cart']">Cart</a></li>
          </ul>
    </div>



<!--     
        <div *ngFor='let item of clothes' style="max-width:500px">
        <div class="col s12 m7">        
          <div class="card" style='display: inline-block'>
            <div class="card-image">
                <img (click)='itemdetails(item.itemId)' id='img' [src]=item.largeImage>
              <span class="card-title" style='color : black; font-weight: bold; '>${{item.salePrice}}</span>
            </div>
            <div class="card-content">
              <p>{{item.name}}</p>
              <p *ngIf='item.stock === "Available"' style='color : green'>In Stock</p>
              <p *ngIf='item.stock !== "Available"' style='color : red'>Not In Stock</p>  
            </div>
            </div>
        </div>
   -->

        <div class="row background">
            
                   
                <div class="rec_wrap">
                    <div class="img_squ" *ngFor='let item of clothes'>
                        <p id='p_text'>{{item.name}}</p>
             
                        <a class="hoverable rec_image" (click)='itemdetails(item.itemId)' id='img' [ngStyle]="{'background-image': 'url(' + item.largeImage+')'  }">
                       <img class="size_setter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Transparent_square.svg/2000px-Transparent_square.svg.png" alt=""></a>
                   
                            <p *ngIf='item.stock === "Available"' style='color : green'>In Stock</p>
                            <p *ngIf='item.stock !== "Available"' style='color : red'>Not In Stock</p>  
                       
                    </div>
                </div>
            </div>





  <!-- <div *ngFor='let item of clothes'>
    <img (click)='itemdetails(item.itemId)' id='img' [src]=item.largeImage>
    <p>{{item.name}}</p>    
    <p>{{item.salePrice}}</p>
    <p *ngIf='item.stock === "Available"'>In Stock</p>
    <p *ngIf='item.stock !== "Available"'>Not In Stock</p>    
  </div> -->


</body>
</html>





















<!-- 
<div *ngFor='let item of clothes'>
    <p>---------------------------------------------</p>
    <p>{{item.name}}</p>
    <img [src]=item.largeImage>
    <p>{{item.salePrice}}</p>
    <p>Sold By : {{item.sellerInfo}}</p>
    <p *ngIf='item.stock === "Available"'>In Stock</p>
    <p *ngIf='item.stock !== "Available"'>Not In Stock</p>
    <p>Quantity : <input type="number" min="1" max="20" value="1"></p>
    <button>Add To Cart</button>
  </div> -->