<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>

      <!-- <form (submit)="loginviaForm()" #userForm='ngForm'>

          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
            name ='name'
            required 
            minlength="1"
            [(ngModel)]='user.name'
            [ngClass]="{ boxborder : name.errors }"
            #name="ngModel"
            >
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
            name ='password'
            required 
            minlength="1"
            [(ngModel)]='user.password'
            [ngClass]="{ boxborder : password.errors }"
            #password="ngModel"
            >
          </div>

            <button type="submit" class="btn btn-primary" [disabled]='!userForm.valid'> Sign In / Register </button>
        </form> -->

     
          <div class="col s12 background">
      <form (submit)="loginviaForm()" #userForm='ngForm'>
          <div class="input-field col s6">
              <input id="UserName" type="text" class="validate"  name ='name' 
              required 
              minlength="5"
              [(ngModel)]='user.name'
              [ngClass]="{ boxborder : name.errors }"
              #name="ngModel">
              <label for="UserName">UserName</label>
              <span *ngIf='name.errors?.required' style='color : red;'>Username is required</span>
              <span *ngIf='name.errors?.minlength' style='color : red;'>Minimum length is {{name.errors.minlength.requiredLength}}</span>
          </div>

          <div class="input-field col s6">
              <input id="password" type="password" class="validate"  name ='password' 
              required 
              minlength="1"
              [(ngModel)]='user.password'
              [ngClass]="{ boxborder : password.errors }"
              #password="ngModel">
              <label for="UserName">Password</label>
              <span *ngIf='password.errors?.required' style='color : red;'>Password is required</span>
              <span *ngIf='password.errors?.minlength' style='color : red;'>Minimum length is {{name.errors.minlength.requiredLength}}</span>
          </div>
          <br>
              <p><input class="input-field col s6" type='submit' class="btn btn-primary waves-effect waves-light" value='Sign In / Register' [disabled]='!userForm.valid'></p>
              <!-- <button type="submit" class="btn btn-primary" [disabled]='!userForm.valid'>  </button> -->
        </form>
    
      </div>
  </div>
</body>
</html>